/* css reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}

textarea {
  font-size: 16px !important;
}

body,
html {
  width: 100%;
  height: 100%;
}

.container-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}

.name-div {
  display: flex;
  gap: 50px;
}

.name-div-ar {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* =========== */

.desc-div {
  display: flex;
  gap: 50px;
}

.desc-div-ar {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* =========== */

.feats-div {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.feats {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feat-div {
  display: flex;
  align-items: end;
  gap: 25px;
}

.feat-title-div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.feat-title-btn {
  background-color: rgb(46, 123, 238);
  padding: 3px 10px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: background-color ease 0.5s;
}
.feat-title-btn > span {
  font-size: 30px;
}

.feat-title-btn:hover {
  background-color: rgb(6, 80, 229);
}

.feat-name-div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.feat-name-btn {
  background-color: rgb(46, 123, 238);
  padding: 3px 10px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: background-color ease 0.5s;
}
.feat-name-btn > span {
  font-size: 30px;
}
.feat-name-btn:hover {
  background-color: rgb(6, 80, 229);
}

/* =========== */

.inp {
  border-radius: 6px;
  padding: 10px 12px;
  border: 1px solid rgb(172, 163, 163);
  outline: none;
}
